<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
</head>
<body>
    <h1>Forms Dashboard</h1>

    <a href="{% url 'create_form' %}">➕ Create New Form</a>
    <hr>

    <ul>
        {% for form in forms %}
            <li>
                <strong>{{ form.title }}</strong><br>
                Public link:
                <code>
                    {{ request.scheme }}://{{ request.get_host }}/forms/{{ form.public_id }}/
                </code><br>
                <a href="/responses/{{ form.id }}/">View Responses</a>
            </li>
            <br>
        {% empty %}
            <li>No forms created yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
